/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.line {
	display: inline-block;
}
.field {
	display: inline-block;	
}
.wrapper{
   width:100%;   
}
 
.table{
   display:table;   
   width:100%;
}
 
.row {
  display: inline-table;
  width: 100%;
}
.col{
    display:table-cell; 
    border:1px solid black;
}
 
.c10{
   max-width:80px;
   min-width:80px;   
}
.c10 > input {
   max-width:100%;
   min-width:100%;
   border: 0; 	
}
 
.c25{
   width:25%;   
}